<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @team.name %></h1>
      <h2>Current Members:</h2>
      <% @team.collaborators.each do |collaborator| %>
        <p> Team Member : <%= collaborator.user.first_name  %></p>
      <% end %>
    </div>
    <div class="col">
      <h3>please share this link for others to join the team</h3>
      <p><%= request.original_url %></p>
      <div class="row">
        <a href="mailto:?subject=Join my Cinemakers Team&body=Click the Link To Join <%= current_user.first_name %> on <%= @team.name %> at CineMakers  <%= request.original_url %>"><button class="btn btn-primary">SHARE THIS TEAM</button></a>
        <%= render :template => 'collaborators/new' %>
      </div>
    </div>
  </div>







   <p><%= link_to "Delete Team", @team, method: :delete, class: "btn btn-primary" %></p>
</div>



 <%= link_to "View All Teams", teams_path, class: "btn btn-primary" %>



