<%= simple_form_for [@project, @collaborator] do |f| %>
  <% if @collaborator.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @collaborator.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :user_id, collection: User.all, label: false, input_html: { class: 'js-searchable' } %>
  <%= f.association :user, label: false, input_html: { class: 'js-searchable' } %>

  <%= f.submit class: 'btn btn-primary', value: 'Add to Team' %>
<% end %>



<!-- Dropdown list of users, TODO add search to list, when user selected that is what is passed to the form to create -->
<!-- <select class='js-searchable' id='selUser' style='width: 50px;'>
  <option value='0'>Select User</option>
  <% User.all.each do |u| %>

    <option value='<%=u.id  %>'><%=u.first_name %></option>

  <% end %>

</select>

<input type='button' value='Seleted option' id='but_read'>
 -->




<!--
<select id="template-example">
  <% User.all.each do |person| %>
    <option value="<%= person.id %>" <%= person.first_name %></option>
  <% end %>
</select>
 -->
