<div class="banner-home">
  <div class="profile">
    <div class="profile-title">
      <h1><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h1>
    </div>
    <div class="profile-content">
       <p>@<%= current_user.user_name %></p>
       <p><%= current_user.city %>, <%= current_user.state %></p>
    </div>
  </div>
</div>

<div class="projects-list-container">
  <button type="button" class="create-btn" data-toggle="modal"  data-target="#project-create-modal">
    <i class="fas fa-plus-circle"></i>
  </button>
  <div class="project-list-title">
    <h2>Projects</h2>
  </div>
  <div class="projects-list">
    <% current_user.projects.each do |project| %>
      <div class="project-card">
        <div class="project-card-title">
          <h3><%= link_to "#{project.name}", project_path(project.id)%></h3>
          <%= link_to '<i class="fas fa-trash"></i>'.html_safe, project, method: :delete, data: {confirm: 'Delete Project?' }, class: "btn-destroy"%>
        </div>
        <div class="project-card-info">
          <p><strong>Genre:</strong> <%= "#{project.genre}"%></p>
          <p><i><%= "#{project.plot}" %></i></p>
        </div>
      </div>
    <% end %>
  </div>
</div>



<!-- Project New Modal -->
<div class="modal fade" id="project-create-modal" tabindex="-1" role="dialog" aria-labelledby="project-create-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <%=render template: "projects/new"  %>

    </div>
  </div>
</div>



