<% if user_signed_in? %>
  <div class="container">
    <div class="profile">
      <div class="title">
        <h1>Cinemakers</h1>

      </div>
      <div class="user">
        <p><%= current_user.first_name %></p>
        <p><%= current_user.last_name %></p>
        <p><%= current_user.tag %></p>
        <p><%= current_user.bio %></p>
        <p><%= current_user.company %></p>
        <p><%= current_user.city %></p>
        <p><%= current_user.state %></p>
        <p><%= current_user.website %></p>
      </div>
    </div>
    <div class="teams-list">
      <h2>My Teams</h2>

      <% current_user.teams.each do |team| %>
        <div class="team">
          <p><%="#{team.name}"%></p>
        </div>
      <% end %>
      <p><%= link_to "View All Teams", teams_path, class: "btn btn-primary" %></p>
      <p><%= link_to "New Team", new_team_path, class: "btn btn-primary" %></p>

    </div>
    <h2>My Projects</h2>
    <div class="projects-list">
      <p>TODO PROJECTS LIST</p>
      <div class="new-project">
        <p><%= link_to "New Project", new_project_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
<% else %>
  <h1>Welcome to Cinemakers</h1>
  <li>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </li>
<% end %>
