<% if user_signed_in? %>
  <div class="container">
    <div class="profile">
      <div class="title">
        <h1>Cinemakers</h1>

      </div>
      <div class="user">
        <p><%= current_user.first_name %></p>
        <p><%= current_user.last_name %></p>
        <p><%= current_user.tag %></p>
        <p><%= current_user.bio %></p>
        <p><%= current_user.company %></p>
        <p><%= current_user.city %></p>
        <p><%= current_user.state %></p>
        <p><%= current_user.website %></p>
        <p><%= current_user.team_id %></p>


      </div>
    </div>
    <div class="teams-list">
      <%  %>
      <div class="team">Team 1</div>
          <p><%= link_to "New Team", new_team_path, class: "btn btn-primary" %></p>

    </div>
    <div class="projects-list">
      <div class="project">
        Project 1
      </div>
      <div class="project">
        Project 2
      </div>
      <div class="new-project">
        <p><%= link_to "Add Project", new_project_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
<% else %>
  <h1>Welcome to Cinemakers</h1>
  <li>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </li>
<% end %>
