<% if user_signed_in? %>
  <div class="container">
    <div class="profile">
      <div class="title">
        <h1>Cinemakers</h1>

      </div>
      <div class="user">
        <p><%= current_user.first_name %></p>
        <p><%= current_user.last_name %></p>
        <p><%= current_user.tag %></p>
        <p><%= current_user.bio %></p>
        <p><%= current_user.company %></p>
        <p><%= current_user.city %></p>
        <p><%= current_user.state %></p>
        <p><%= current_user.website %></p>
      </div>
    </div>
    <div class="teams-list">
    <% @teams.each do |team| %>
      <div class="team">
        <%= link_to "Join #{team.name}", new_collaborator_path, class: "btn btn-primary" %>
      </div>
    <% end %>


          <p><%= link_to "New Team", new_team_path, class: "btn btn-primary" %></p>

    </div>
    <div class="projects-list">
      <% @projects.each do |project| %>

        <h1><%=project.name  %></h1>
    <% end %>
      <div class="new-project">
        <p><%= link_to "Add Project", new_project_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
<% else %>
  <h1>Welcome to Cinemakers</h1>
  <li>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </li>
<% end %>
