<div class="container">
  <%= simple_form_for [@project] do |f| %>
    <% if @project.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :name %>
    <%= f.input :plot %>
    <%= f.input :genre %>
    <%= f.input :team_id, collection: current_user.teams %>



    <%= f.submit class: 'btn btn-primary'%>
  <% end %>
</div>



