<div class="project-form">
  <div class="project-form-title">
    <h3>Create a Project</h3>
  </div>
  <div class="form-action">
    <%= simple_form_for @project do |f| %>
      <% if @project.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :name, label: false, placeholder: 'Project Name'%>
      <%= f.input :plot, label: false, placeholder: 'Project Plot' %>
      <%= f.input :genre, label: false, placeholder: 'Project Genre' %>


      <%= f.submit class: 'btn btn-primary', value: 'Save Project' %>
    <% end %>
  </div>
</div>



