<div class="project-banner">
  <h1><%= @project.name %></h1>
</div>
<% if current_user.projects.include?(@project) %>
  <div class="project-container">
    <div class="project-info">
      <h3>Team</h3>


        <button type="text" class="collaborator-add" data-toggle="modal"  data-target="#collaborator-add-modal">
          <p>add member</p>
        </button>

      <% @project.collaborators.each do |collaborator| %>
        <div class="team-member">
          <p><strong><%= "#{collaborator.user.first_name.capitalize}"%> <%= "#{collaborator.user.last_name.capitalize}"%></strong></p>
          <p><i>  <%= "#{collaborator.user.field}"%></i></p>
        </div>
      <% end %>
    </div>
    <div class="project-app" id="project_app" data-stages=<%= @project.stages.to_json %>></div>
    <% content_for :after_js do %>
      <%= javascript_pack_tag "project" %>
    <% end %>
  </div>
<%else %>
  <h1>You Don't have access to this project</h1>
<% end %>

<!-- Project New Modal -->
<div class="modal fade" id="collaborator-add-modal"  role="dialog" aria-labelledby="collaborator-add-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <%=render partial: "collaborators/new"  %>
    </div>
  </div>
</div>
